## Preprocessing

In [109]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [110]:
list(application_df)

['EIN',
 'NAME',
 'APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'STATUS',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS',
 'ASK_AMT',
 'IS_SUCCESSFUL']

In [111]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
application_df = application_df.drop(["EIN", "NAME"], axis = "columns");
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [112]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
application_df_unqiue = application_df.nunique()
application_df_unqiue

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [113]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
#  YOUR CODE GOES HERE
applicaiton_type_list = application_df["APPLICATION_TYPE"].value_counts()
applicaiton_type_list

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [114]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff_value = 1000

# Converting APPLICATION_TYPE rows that are below the cutoff value into a dataframe
application_df_cutoff = pd.DataFrame(application_df['APPLICATION_TYPE'].value_counts() < cutoff_value)

# Converting application types to replace into a list
application_types_to_replace = application_df_cutoff.index[application_df_cutoff["count"] == True].tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: count, dtype: int64

In [115]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_list = application_df["CLASSIFICATION"].value_counts()
classification_list

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [116]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_list[classification_list > 1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [117]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classification_cutoff_value = 500

# Converting CLASSIFICATION rows that are below the cutoff value into a dataframe
classification_df_cutoff = pd.DataFrame(application_df["CLASSIFICATION"].value_counts() < classification_cutoff_value)

# Converting classifications to replace into a list
classifications_to_replace = classification_df_cutoff.index[classification_df_cutoff["count"] == True].tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: count, dtype: int64

In [118]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_numeric = pd.get_dummies(application_df, dtype = float)
application_df_numeric

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [119]:
# Split our preprocessed data into our features and target arrays
X = application_df_numeric.drop(columns=['IS_SUCCESSFUL'])
y = application_df_numeric['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [125]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [130]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=16, activation='relu', input_shape=(X_train.shape[1],)))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=4, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

/opt/anaconda3/envs/dev/lib/python3.10/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_10"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_30 (Dense)                │ (None, 16)             │           672 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_31 (Dense)                │ (None, 4)              │            68 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_32 (Dense)                │ (None, 1)              │             5 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 745 (2.91 KB)

 Trainable params: 745 (2.91 KB)

 Non-trainable params: 0 (0.00 B)

In [131]:
# Compile the model
nn.compile(
    optimizer='adam',        
    loss='binary_crossentropy',  
    metrics=['accuracy']         
)

In [132]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=25)

Epoch 1/25
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 355us/step - accuracy: 0.6508 - loss: 0.6588
Epoch 2/25
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 344us/step - accuracy: 0.7243 - loss: 0.5677
Epoch 3/25
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 416us/step - accuracy: 0.7266 - loss: 0.5622
Epoch 4/25
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 357us/step - accuracy: 0.7303 - loss: 0.5566
Epoch 5/25
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 401us/step - accuracy: 0.7277 - loss: 0.5570
Epoch 6/25
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 385us/step - accuracy: 0.7300 - loss: 0.5544
Epoch 7/25
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 341us/step - accuracy: 0.7331 - loss: 0.5516
Epoch 8/25
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 358us/step - accuracy: 0.7345 - loss: 0.5482
Epoch 9/25
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 378us/step - accuracy: 0.7277 - loss: 0.5577
Epoch 10/25
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 442us/step - accuracy: 0.7307 - loss: 0.5541
Epoch 11/25
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 390us/step - accuracy: 0.7314 - loss: 0.5535
Epoch 12/25
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 366us/step - accuracy: 0.7349 - loss: 0.5491
Epoch 13/25
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 362us/step - accuracy: 0.7330 - loss: 0.5488
Epoch 14/25
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 358us/step - accuracy: 0.7291 - loss: 0.5527
Epoch 15/25
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 359us/step - accuracy: 0.7285 - loss: 0.5545
Epoch 16/25
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 355us/step - accuracy: 0.7313 - loss: 0.5501
Epoch 17/25
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 362us/step - accuracy: 0.7316 - loss: 0.5523
Epoch 18/25
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 356us/step - accuracy: 0.7347 - loss: 0.5498
Epoch 19/25
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 436us/step - accuracy: 0.7389 - loss: 0.5444
Epoch 20/25
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 358us/step - accuracy: 0.7306 - loss: 0.5526
Epoch 21/25
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 357us/step - accuracy: 0.7365 - loss: 0.5487
Epoch 22/25
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 353us/step - accuracy: 0.7341 - loss: 0.5493
Epoch 23/25
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 349us/step - accuracy: 0.7357 - loss: 0.5484
Epoch 24/25
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 354us/step - accuracy: 0.7348 - loss: 0.5481
Epoch 25/25
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 356us/step - accuracy: 0.7344 - loss: 0.5457

In [129]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - 536us/step - accuracy: 0.7243 - loss: 0.5593
Loss: 0.5592517852783203, Accuracy: 0.72434401512146

In [133]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.